# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtualenv
# =====================
venv/
.venv/

# =====================
# Django
# =====================
db.sqlite3
*.log

# Archivos estáticos generados
static/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# IDEs / Editores
# =====================
.vscode/
.idea/

# =====================
# Sistema Operativo
# =====================
Thumbs.db
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl
.env
venv/-e "\n__pycache__/\n*.pyc" 
